body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navlink {
  color: black;
}

.homepage-carousel {
  margin: 0 auto 2em;
  max-width: 500px;
  height: 300px;
}

.image-container .homepage-carousel {
  height: 300px;
  margin: 0;
}

.popup-box {
  position: fixed;
  background: #00000030;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid #999;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  font-size: 25px;
}

.popup-image {
  border-radius: 10px;
  width: 100%;
  max-height: 460px;
  overflow: hidden;
  background-position: center;
}

.thumbnail {
  width: 150px; 
  border-radius: 5px;
  transition: .25s ease;
  backface-visibility: hidden;
}

.thumbnail-container:hover .thumbnail {
  cursor: pointer;
  opacity: 0.7;
}